.App {
  text-align: center;
  background-color: #FFECCB
}

.App-logo {
  height: 100px;
}

.App-header {
  background: linear-gradient(#FF751C, #FFCB72);
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card{
  background-color: #57C4AF;
  width:200px;
  height: 300px;
  margin: 5px;
}

.card-text:last-child{
  position:absolute;
  bottom:5px;
  width:100%;
  text-align:left;
  vertical-align: middle;
  background: #FFE1AD;
}

.card-text{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px;
}

.image-wrap{

  text-align: center;
  width: 100%;
}