.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #FFAB1C;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.AuctionImg{
  max-width:90%;
  max-height:90%;
}

.card{
  min-width:100px;
}

.card-deck{
  height:25%;
    }

.card-text:last-child{
  position:absolute;
  bottom:5px;
  width:80%;
  text-align:left;
}