.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #FFAB1C;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.AuctionImg{
  max-width:90%;
  max-height:90%;
}

.card{
  max-width:20%;
  min-width:500px; 
}

.card-deck{
  height:25%;
     display: flex;
   flex-wrap: wrap;
}
